# Python
__pycache__/
*.pyc

# Environment
.env
venv/
.venv/

# Streamlit cache
.streamlit/

# Model files (optional: remove this if you WANT to upload model)
*.h5
*.keras

# Temp files
*.wav
*.mp3
*.ogg
*.flac

# OS files
.DS_Store